<!doctype html>
<html lang="en" class="back_co">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>College Readiness Experience</title>

<!-- FONTS LINK -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong"> -->
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Peddana&family=Questrial&family=Yuji+Syuku&display=swap" rel="stylesheet">

    
<!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

<style>
/* body {
  font-family: "Trirong", serif;
}
p{
  font-family: "Trirong", serif;
} */
h3 {
  background-color: #E6B8A2;
  width: 300px;
  border: 15px solid black;
  margin-bottom: 20px
/*   padding: 10px;
  margin: 5px; */
}
</style>
    
    
  </head>
<!-- BODY SECTION -->
  <body>
<!--  NAVIGATION BAR  -->
    <nav class="navbar navbar-expand-lg" style="background-color: #d69f7e";>
  <div class="container-fluid">
    <a class="navbar-brand" href="https://flask-template-v2022.sifatunnoor.repl.co/"><strong>College Readiness Experience</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://flask-template-v2022.sifatunnoor.repl.co/quiz">Quiz</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/creditcard">Credit Card Guide</a></li>
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/mentalhealth">Mental Health</a></li>
          <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/internships">Internships</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <li class="nav-link disabled">Contact Us</li>
        </li>
      <form class="d-flex" role="search"">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>

<!-- first section -->
    <h1 class="beginning" style="font-family: 'Questrial', sans-serif;">Are you feeling panicked or anxious about starting college?</h1><br>
<!-- CAROUSEL SECTION -->
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/highereducation/image/upload/f_auto,fl_lossy,q_auto/v1/OnlineSchools.org/media/uploads/2013/12/online-college-header.jpg" class="d-block w-100" height="350" alt="Checklist">
    </div>
    <div class="carousel-item">
      <img src="https://www.nea.org/sites/default/files/styles/1200x630/public/legacy/2016/09/student_stess_2-e1473788049606.jpeg?itok=_9Rn_xH6" class="d-block w-100" height="350" alt="College Just Ahead">
    </div>
    <div class="carousel-item">
      <img src="https://www.universiteitleiden.nl/binaries/content/gallery/ul2/main-images/social-and-behavioural-sciences/psychologie/klinische-psychologie/research-mental-health-students-880x320.jpg/research-mental-health-students-880x320.jpg/d880x320" class="d-block w-100" height="350" alt="College Readiness">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<br>

<!-- START THE FEATURETTES -->
<!-- <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Featured first title. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It will blow your mind.</font></font></span></h2>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The human face is a very complex and distinct part of its body. </font><font style="vertical-align: inherit;">In fact, it is one of the most complex signaling systems we have available; </font><font style="vertical-align: inherit;">It includes more than 40 independent muscles, both structurally and functionally, so that each of them can be operated independently of the other; </font><font style="vertical-align: inherit;">It is one of the strongest indicators of emotions.</font></font></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>



      </div>
    </div>
      <hr class="featurette-divider"> -->
        <!-- /END THE FEATURETTES -->

<div class="row">
  <h3 class="beginning2">Have no fear, the college ladies are here! This website encompasses simple yet efficient resources that are beneficial to incoming college freshmans. Below are some of the pages that you can find under our resource dropdown menu. </h3>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="col-lg-4">
      <img src="https://tinyurl.com/bdf7pn8r" svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false" img href="https://tinyurl.com/bdf7pn8r"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
      <br>
      <br>
      <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Credit Card Guide</font></font></h2>
      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">We believe that it is important for incoming college students to begin their credit journey in a responsible manner as soon as possible. Therefore, we developed this page that presents student's with three different credit card options that are tailored specifically for their needs. The cards recommended help build credit history and financial responsibility.</font></font></p>
    </div><!-- /.col-lg-4 -->
  
    <div class="col-lg-4">
      <img src="https://tinyurl.com/2p842xsw" svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="140%" height="90%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
      <br>
      <br>
      <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mental Health</font></font></h2>
      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The topic of mental health is now being discussed more than ever. We believe in providing student's with more information on how and where to receive help. The transition to college can be a mentally taxing event for many students so never hesitate to reach out if you are struggling! In addition, you can explore why having a positive support system improves the way you tackle mental pressure during college.</font></font></p>
    </div><!-- /.col-lg-4 -->
  
    <div class="col-lg-4">
      <img src="https://tinyurl.com/2p92xvdc" svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
      <br>
      <br>
      <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Internships</font></font></h2>
      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Experience is a college student's golden ticket and the best way to gain industry experience is through internships! Not only do internships provide experience, they open doors for networking, career exploration, and building critical skills. Remember to keep an open mind when choosing what internships to apply to.</font></font></p>
    </div>
</div>  



<!-- JS LINK -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
