<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>College Readiness Experience</title>

<!-- FONTS LINK -->
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Peddana&family=Questrial&family=Yuji+Syuku&display=swap" rel="stylesheet">

    
<!--  BOOTSTRAP LINK    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--  CSS FILE LINK    -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
<style>
.col-lg-4 {
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  padding: 40px;
  border: 2px solid #black;
  margin-block-start: 3em;
  margin-block-end: 3em;
}
h2 {text-align: center; padding: 10px;} 
p {text-align: center; font-size: 18px;}
</style>
  </head>
<!--  BODY SECTION  -->
  <body>
    <h1></h1>
<!-- NAVIGATION BAR -->
       <nav class="navbar navbar-expand-lg" style="background-color: #d69f7e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://flask-template-v2022.sifatunnoor.repl.co/"><strong>College Readiness Experience</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://flask-template-v2022.sifatunnoor.repl.co/quiz">Quiz</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/creditcard">Credit Card Guide</a></li>
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/mentalhealth">Mental Health</a></li>
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/internships">Internships</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Contact Us</a>
        </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<section class="container">
  <div class="row">
      <div class="col-lg-4">
        <img src="https://marvel-b1-cdn.bc0a.com/f00000000026007/resilienteducator.com/wp-content/uploads/2017/03/networking-teachers.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        
        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" style="font-family: 'Questrial', sans-serif;">Network</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" style="font-size: 30px;" > As an incoming freshman, a good way to get a head start on finding internships is through networking and making connections. A connection that you make now can open up new internship and even job opportunities for you in the future. </font></font></p>
        <p><a href="https://tinyurl.com/2nbzc2xp" class="btn btn-primary" >Learn more about the importance of networking and making connections while in college.</a>
        </p>
      </div>
    <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://www.avature.net/portal/174/images/circle-career_fair.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" style="font-family: 'Questrial', sans-serif;">Career Fairs</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> It is likely that at the college that you are attending, there are college career fairs that will be held where recruiters and employers will be waiting to connect with students. Take advantage of these fairs because because they can lead to your potential future job. </font></font></p>
<p><a href="https://www.collegeavestudentloans.com/blog/career-fair-tips/" class="btn btn-primary" >Learn tips for attending college career fairs.</a>
        </p>
      </div>
    <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://www.shareicon.net/data/256x256/2015/10/31/664907_search_512x512.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" style="font-family: 'Questrial', sans-serif;">Google It</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The most common way to find an internship is to simply google it. It can be difficult, considering some internships may not be what you're exactly looking for, but that does not mean it's impossible. Simply search up <br>[your subject] + internships for college freshmen. </font></font></p>
        <p><a href="https://www.google.com/" class="btn btn-primary" >Click here to google internships.</font></font></a></p>
      </div>
    </div>  


<!-- JS LINK     -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </div>
  </section>
    
  </body>
</html>  