<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>College Readiness Experience</title>

<!-- FONTS LINK -->
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap" rel="stylesheet">
    
<!--  BOOTSTRAP LINK    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--  CSS FILE LINK    -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
<style>
.card{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 30px;
  border: 2px solid #black;
  margin-block-start: 2em;
  margin-block-end: 2em;
  position: inherit;
}
h5 {text-align: center; font-weight: bold;} 
p {text-align: center;}
.card-img-top{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn btn-primary {
background-color: #e7e7e7; color: black;
}
</style>
</head>
<!--  BODY SECTION  -->
<body>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg" style="background-color: #d69f7e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://flask-template-v2022.sifatunnoor.repl.co/"><strong>College Readiness Experience</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://flask-template-v2022.sifatunnoor.repl.co/quiz">Quiz</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/creditcard">Credit Card Guide</a></li>
            <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/mentalhealth">Mental Health</a></li>
          <li><a class="dropdown-item" href="https://flask-template-v2022.sifatunnoor.repl.co/internships">Internships</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Contact Us</a>
        </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>
<br>

<section class="container">
  <div class="row">
<br>
<br>

<!-- CARD SECTION -->
  <div class="card text-white bg-dark mb-3">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1613618958001-ee9ad8f01f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" width="286px" height="180px">
  <div class="card-body">
    <h5 class="card-title">Mental Health Disorders</h5>
    <p class="card-text">At a new location, it can be difficult for most people to adjust, and this can eventually lead to problems with mental health. As a upcoming freshman, many people may face depression or other mental health disorders while trying to adjust to change.</p>
<a href="https://online.maryville.edu/blog/mental-health-resources-for-college-students/" class="btn btn-primary" >Learn more about the different disorders college students experience.</a>
  </div>
</div>
  <div class="card mb-3">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1524901548305-08eeddc35080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" width="286px" height="180px">
  <div class="card-body">
    <h5 class="card-title">Self-Care Tips</h5>
    <p class="card-text">It's essential to be taking care of yourself in order to make take a step towards good mental health. It is likely that during college that you'll rarely feel like that you have free time to do things that you like, and so make use of the time that you do have to take care of yourself.</p>
<a href="https://tinyurl.com/2p8jzuz2" class="btn btn-primary">Learn about self-care tips for college students.</a>
  </div>
</div>
  <div class="card text-white bg-dark mb-3">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" width="286px" height="180px">
  <div class="card-body">
    <h5 class="card-title">Support System</h5>
    <p class="card-text"> For most people, feeling lonely at a new place is a very common feeling. During moments of stress and feeling overwhelmed, it can be very easy to feel more lonely than usual. It helps to have a trusworthy support system around you to help you during these stressful times.</p>
<a href="https://www.herzing.edu/blog/why-your-support-system-important-your-success" class="btn btn-primary"> Learn about benefits of having a strong support system and ways to build your support system. </a>
  </div>
</div> 
  </div>
</section>

<!-- JS LINK     -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>  